
.c-grid
  display: flex
  @apply items-center justify-stretch gap-2

.min-width
  width: 100%

@media screen and (min-width: 550px)
  .min-width
    width: 550px

  .c-grid
    @apply justify-center


.picture-grid
  display: grid
  grid-template-columns: repeat(auto-fill, 100px)
  @apply gap-2

body
  @apply bg-bg
